{% extends 'base.html.twig' %}

{% block title %}Nastavení rezervací{% endblock %}
{% block meta_desc %}setup{% endblock %}

{% block body %}
  <h2>Nastavení rezervací</h2>
  {# obsah, který byl ve tvém setup.php, sem převedeme jako HTML/Twig #}
  {# příklad: #}
  <p>Sem přijde formulář / tabulka nastavení…</p>
{% endblock %}
